main {
  background-image: url('/static/images/backgroundnologo.png');
  background-size: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 300px;
}

.card:hover {
  transform: translateY(-10px);
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.card-content p {
  margin: 0;
  color: #666;
}

h2 {
  margin: 0 0 20px;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(#f19d03, #ffc9a0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}