
li {
  list-style-type: none;
  padding: 2vmin;
}

main {
  background-image: url('/static/images/martiniglasses.png');
  background-size: cover;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: hsl(150.68deg 91.67% 18.82%);
  margin: 0;
  padding: 0;
}

.ingredient-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin: 0 0 20px;
  margin-top: 50px;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(#f19d03, #ffc9a0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"],
select {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.submit {
  display: block;
  margin: 2vmin;
  padding: 10px 40px;
  background-color: #04421b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.75vmin;
}

button:hover {
  background-color: #01240e;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  resize: vertical;
  width: fit-content;
  align-self: center;
}

