{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock %} {% block content %}
<div class="about-page">
  <h1>About Us</h1>
  <p>
    Welcome to BarrellnBlend! We are Prestige Worldwide! We have created an app that utilizes the ChatGPT API to generate cocktail recipes dynamically based on a user's entered ingredients. Just enter the ingredients you have on hand, and we'll generate a cocktail recipe for you! You can also save your favorite recipes to your bar and delete them as needed. Enjoy!
  </p>
  <!-- Add more content as needed -->
</div>
{% endblock %}
