{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<section class="logo">
  <h1>
    Barrell<br />
    &Blend
  </h1>
</section>

<div class="button-container">
<a href="{% url 'all_drinks' %}" class="btn">Explore Drinks</a>
<a href="{% url 'generate_drink' %}" class="btn">Create a Mix</a>
</div>

<div class="olive">
  <img src="{% static 'images/olive.png' %}" alt="olive" />
</div>

{% endblock %}
