{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<section class="logo">
  <h1>Barrell<br> &Blend</h1>
</section>
<div class="home-container">
    {% comment %} <h1>Welcome to Barrell & Blend</h1> {% endcomment %}
    {% comment %} <p>Your ultimate destination for amazing drink mixes!</p> {% endcomment %}
    {% comment %} {% if user.is_authenticated %} {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
  </div>
  <div class="button-container">
    <a href="{% url 'all_drinks' %}" class="btn">Explore Drinks</a>
      <a href="{% url 'generate_drink' %}" class="btn">Create a Mix</a>
  </div>
{% endblock %}

