/* General body styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex; /* Set body as a flex container */
    height: 100vh; /* Make the body take up the full height of the viewport */
}

/* Styling for the main content */
main {
    margin-left: 15vmin; /* Add left margin to account for the sidebar width */
    padding: 20px;
    flex-grow: 1; /* Allow main to grow and take up remaining space */
    background-color: #f4f4f4; /* Light background color for contrast */
    display: flex;
    flex-direction: column; /* Flex column for stacking elements */
    justify-content: flex-start; /* Align main content to the top */
    align-items: flex-start; /* Align content to the start horizontally */
    overflow-y: auto; /* Enable scrolling for long content */
}

/* Sample styling for headers and paragraphs inside main */
main h1 {
    color: #333; /* Darker color for headers */
}

main p {
    color: #666; /* Lighter color for paragraph text */
    line-height: 1.6; /* Make text more readable with line height */
}

.sidebar {
    height: 100%; /* Full height */
    width: 16vmin; /* Set the width */
    position: fixed; /* Stick to the side of the page */
    top: 0;
    left: 0;
    background-color: #301500; /* Background color */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: flex-start; /* Align items to the top */
    align-items: center; /* Center items horizontally */
    padding-top: 20px;
    /* background: url('/static/images/nav.png'); */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure ul takes full width of sidebar */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the list items */
}

.sidebar ul li {
    width: 100%; /* Each item spans the full width of the sidebar */
    padding: 1vmin;
}

.sidebar ul li a, .sidebar ul li button {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2.2vmin;
    /* padding: 15px; */
    text-align: center; /* Center text inside each item */
    width: 100%; /* Take up full width of parent */
    transition: background-color 0.3s;
}



.sidebar ul li button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    /* font-size: 18px; */
    /* hold at the bottom of the page */
    position: absolute;
    bottom: 0;
    margin-bottom: 4vmin;
}

.sidebar ul li button:focus {
    outline: none;
}

.sidebar ul li a:hover, .sidebar ul li button:hover {
    /* background-color: #575757; Change color on hover */
    transform: scale(1.2); /* Slightly increase size on hover */
    /* dont let the element background go outside the nav */
    /* overflow: hidden; */
}


/* highlight the li that is active */
.sidebar ul li.active {
    background-color: #575757;
}
/* 
/* Hamburger menu button */
.hamburger {
    display: none; /* Hide by default */
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000; /* Ensure it is above other elements */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
}

/* .hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
} */

/* Show the hamburger menu on smaller screens */
/* @media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .sidebar {
        width: 0;
        overflow: hidden;
        transition: width 0.3s;
    }

    .sidebar.open {
        width: 60vw; /* Adjust as needed */
    /* }

    main {
        margin-left: 0;
    }
} */ 

/* Transform the hamburger icon to a cross when the menu is open */
/* .hamburger.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
} */ 

