{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/drinks/generate_drink.css' %}" />
{% endblock %} {% block content %} {% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

  <h2>{{ request.user.username }}'s Bar</h2>
  <ul>
    {% for drink in user.drinks_in_bar.all %}
      <li>
        <strong>{{ drink.name }}</strong><br>
        <strong>Ingredients:</strong> {{ drink.ingredients|safe }}<br>
        <strong>Instructions:</strong> {{ drink.instructions|safe }}<br>
        {% if drink.img_url %}
          <img src="{{ drink.img_url }}" alt="{{ drink.name }}" style="max-width: 200px;">
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

