{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/drinks/generate_drink.css' %}" />
{% endblock %} {% block content %} {% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<section class="ingredient-form-container">
  <h2>Enter Your Ingredients for a Cocktail Recipe</h2>
  <form method="post" action="{% url 'generate_drink' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="ingredients">Ingredients:</label>
      <textarea
        id="ingredients"
        name="ingredients"
        rows="4"
        cols="50"
        required
      ></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</section>

<section class="drinks-list">
  {% comment %} <h2>Generated Drinks</h2> {% endcomment %}
  <ul>
    {% if drinks %}
    <li>
      <strong>{{ drinks.last.name }}</strong><br />
    </li>
    <li>
      <strong>Ingredients:</strong> {{ drinks.last.ingredients|safe }}<br />
    </li>
    <li>
      <strong>Instructions:</strong> {{ drinks.last.instructions|safe }}<br />
    </li>
      {% comment %} <strong>Garnish:</strong> {{ drinks.last.garnish|safe }} {% endcomment %}
      {% if drink.img_url %}
          <img src="{{ drink.img_url }}" alt="{{ drink.name }}" style="max-width: 200px;">
        {% endif %}
    </li>
    {% endif %}
  </ul>
</section>

{% endblock %}
