{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/drinks/generate_drink.css' %}" />
{% endblock %} {% block content %} {% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<section class="ingredient-form-container">
  <h2>Enter Ingredients</h2>
  <form method="post" action="{% url 'generate_drink' %}">
    {% csrf_token %}
    <div class="form-group">
      {% comment %} <label for="ingredients">Ingredients:</label> {% endcomment %}
      <textarea
        id="ingredients"
        name="ingredients"
        rows="1"
        cols="50"
        required
      ></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
</section>

{% endblock %}
